<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>End Device Dashboard</h1>

    <h2>Storage Used Chart</h2>
    <img src="{{ chart_paths[0] }}" alt="Storage Used Chart">

    <h2>RAM Used Chart</h2>
    <img src="{{ chart_paths[1] }}" alt="RAM Used Chart">

    <h2>CPU Percentage Chart</h2>
    <img src="{{ chart_paths[2] }}" alt="CPU Percentage Chart">
</body>
</html>
